NODE_ENV=development
PORT=4000
WEB_ORIGIN=http://localhost:3000
MONGODB_URI=mongodb://growthos:growthos@localhost:27017/growthos?replicaSet=rs0&authSource=admin
SESSION_SECRET=replace-with-at-least-32-random-characters
COOKIE_SECURE=false
DEMO_SEED_GUARD=
PASSWORD_RESET_WEBHOOK_URL=
PASSWORD_RESET_WEBHOOK_SECRET=
PASSWORD_RESET_EXPOSE_TOKEN=false
